services:
 auction-mysql:
   image: mysql:8.0
   container_name: auction-mysql
   environment:
     MYSQL_ROOT_PASSWORD: yrgoP4ssword
     MYSQL_DATABASE: auctiondb
   ports:
     - "3306:3306"
   volumes:
     - mysql-data:/var/lib/mysql

 java-app:
   image: java-app
   container_name: java-app
   depends_on:
     - auction-mysql
     - activemq
   links:
     - auction-mysql
   build:
     context: .
   environment:
     - DB_URL=jdbc:mysql://auction-mysql:3306/auctiondb
     - DB_USER=root
     - DB_PASSWORD=yrgoP4ssword
     - SPRING_ACTIVEMQ_BROKER_URL=tcp://activemq:61616
     - SPRING_ACTIVEMQ_USER=admin
     - SPRING_ACTIVEMQ_PASSWORD=admin
   ports:
     - "8080:8080"


 bid-broker:
   image: java-docker-bidbroker
   container_name: bid-broker
   depends_on:
     - activemq
   build:
    context: ../bidbroker
   environment:
     - SPRING_ACTIVEMQ_BROKER_URL=tcp://activemq:61616
     - SPRING_ACTIVEMQ_USER=admin
     - SPRING_ACTIVEMQ_PASSWORD=admin
   ports:
     - "8082:8082"

 activemq:
   image: rmohr/activemq:5.15.9
   container_name: activemq
   environment:
     ACTIVEMQ_ADMIN_LOGIN: admin
     ACTIVEMQ_ADMIN_PASSWORD: admin
   ports:
     - "61616:61616"
     - "8161:8161"

volumes:
 mysql-data: