services:
 auction-mysql:
   image: mysql:8.0
   container_name: auction-mysql
   environment:
     MYSQL_ROOT_PASSWORD: yrgoP4ssword
     MYSQL_DATABASE: auctiondb
   ports:
     - "3306:3306"
   volumes:
     - mysql-data:/var/lib/mysql

 java-app:
   image: java-docker-mysql
   container_name: java-app
   depends_on:
     - auction-mysql
   links:
     - auction-mysql
   build:
     context: .
   environment:
     - DB_URL=jdbc:mysql://auction-mysql:3306/auctiondb
     - DB_USER=root
     - DB_PASSWORD=yrgoP4ssword

volumes:
 mysql-data: